@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=JetBrains+Mono:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* cores */
  --color-bg: #F5F3EE;
  --color-text: #111111;
  --color-dark: #0D0D0D;
  --color-light: #FFFFFF;
  --color-border: #D9D9D9;

  /* fontes */
  --font-heading: 'JetBrains Mono', monospace;
  --font-body: 'DM Sans', sans-serif;

  /* espaçamento base */
  --container-width: 1200px;
}


/* ===== SCROLLBAR GLOBAL ===== */

::-webkit-scrollbar {
  width: 6px;
   background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}


html {
  scroll-behavior: smooth;
}

/* ===== REVEAL SYSTEM ===== */
.reveal {
  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 0.7s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

.reveal.is-revealed {
  opacity: 1;
  transform: translateY(0);
}

.reveal-left {
  opacity: 0;
  transform: translateX(-24px);
  transition:
    opacity 0.7s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

.reveal-left.is-revealed {
  opacity: 1;
  transform: translateX(0);
}

.reveal-right {
  opacity: 0;
  transform: translateX(24px);
  transition:
    opacity 0.7s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

.reveal-right.is-revealed {
  opacity: 1;
  transform: translateX(0);
}

/* stagger leve */
.reveal-delay-1 {
  transition-delay: 0.08s;
}

.reveal-delay-2 {
  transition-delay: 0.16s;
}

.reveal-delay-3 {
  transition-delay: 0.24s;
}

.reveal-delay-4 {
  transition-delay: 0.32s;
}

/* acessibilidade */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  .reveal,
  .reveal-left,
  .reveal-right,
  .reveal-delay-1,
  .reveal-delay-2,
  .reveal-delay-3,
  .reveal-delay-4 {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}







body {
  font-family: var(--font-body);
  background: var(--color-bg);
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

p {
  line-height: 1.5;
}



/* Botão Base */

button {
  font-family: var(--font-heading);
  cursor: pointer;
  border: none;
}


/* Links */

a {
  text-decoration: none;
  color: inherit;
}


/* Container */

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}